FLASK_ENV=development
SECRET_KEY=your_secret_key
DATABASE_URL=sqlite:///pycraft.db
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_email_app_password
ADMIN_EMAIL=xavitimes1@gmail.com
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
OAUTH_REDIRECT_URI=http://localhost:5000/auth/google/callback

